@import "~antd-mobile/dist/antd-mobile.less"; // Introduce the official less style entry file
@import "~antd/dist/antd";
@import "./fonts/fonts.css";

//Theme customization antd web
@primary-color: #605ee8;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #293845;
}

nav a {
  margin-bottom: 30px;
}

nav a {
  display: inline-block;
}

nav a.active {
  color: #222222;
  text-decoration: none;
}

nav a + a {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #222;
}

//Page Layout

.am-tabs-tab-bar-wrap {
  .am-tab-bar-bar {
    height: 83px !important;
    border-radius: 20px 20px 0 0 !important;
  }
}

.two-line-limiter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.one-line-limiter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}




//Form styles

.ant-form-item.ant-form-item-has-error{
.antd-upload-custom-wrapper{
  border: 2px solid #ff4d4f !important;
}
}
